[submodule ".vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/bundle/surround.vim"]
	path = vim/.vim/bundle/surround.vim
	url = https://tpope.io/vim/surround.git
[submodule ".vim/bundle/vim-highlightedyank"]
	path = vim/.vim/bundle/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank.git
[submodule ".vim/pack/tpope/start/commentary"]
	path = vim/.vim/bundle/commentary
	url = https://tpope.io/vim/commentary.git
[submodule ".vim/pack/YouCompleteMe/opt/YouCompleteMe"]
	path = vim/.vim/bundle/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule ".vim/bundle/gruvbox"]
	path = vim/.vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule ".vim/bundle/vim-polyglot"]
	path = vim/.vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule ".vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/context.vim"]
	path = vim/.vim/bundle/context.vim
	url = https://github.com/wellle/context.vim.git
[submodule ".vim/bundle/delimitMate"]
	path = vim/.vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/fzf.vim"]
	path = vim/.vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/bundle/vim-easymotion"]
	path = vim/.vim/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "vim/.vim/bundle/ale"]
	path = vim/.vim/bundle/ale
	url = https://github.com/dense-analysis/ale
